<%-include('header')-%>



       

<form action="/alogin" method="POST" class=" shadow-5 bg-purple card w-20  br4 ml mr mt6 pa3">
    <input class="pa2 br3 bn w-80 bg-white ma2 db " placeholder="ID Number " name="IDnum" >
    <input class="pa2 br3 bn w-80 bg-white ma2 db " placeholder="Password" name="pass">
    <br>
    <button class=" br4 bn btn1 pa2  white  ff db center" id="45" type="submit">Login</button>
    <button class=" br4 bn btn1 pa2  white  ff db center "><a class="l1" href="/radmin"> Not Registered! Signup</a></button>
</form>


<%-include('footer')-%>