
   <%-include('header')-%>

        <div class="pa4 w-100 mt6 " id="343">
            
            <button class=" br4 bn  pa4 shadow-3 db mb3 white  ff center f3 bg-blue"><a class="l1" href="/radmin">Admin Register</a></button>
            <button class=" br4 bn pa4 shadow-3 db mb3 white  ff center f3 bg-blue" ><a class="l1" href="/rstudent">Student Register</a></button>
            
            
    </div>
 


    <%-include('footer')-%>