<%-include('header')-%>




<form action="/slogin" method="POST" class=" shadow-5 bg-purple w-20 card  br4 ml mr mt6 pa3">
    <input class="pa2 br3 bn w-80 bg-white ma2 db " placeholder="Enrollment Number " id="" name="ennum">
    <input class="pa2 br3 bn w-80 bg-white ma2 db " placeholder="Password" name="pass">
    <br>
    <button class=" br4 bn btn1 pa2  white  ff db center" id="45" type="submit">Login</button>
    <button class=" br4 bn btn1 pa2  white  ff db center "><a class="l1" href="/rstudent"> Not Registered! Signup</a></button>
</form>

<%-include('footer')-%>