<%-include('header')-%>


<h1 class="panelHead">Hello Admin</h1>
        <form class="panelForm" action="/notify" method="POST">
            
            <input placeholder="Enter Your Name" type="text" class="panelFormInput" name="name" required>
            <input placeholder="What's the Update About? " type="text" class="panelFormInput" name="title" required>
            <textarea placeholder="Describe the Update" rows="6" class="panelFormInput" name="desc" required></textarea>
            
            <button type="submit" class="panelFormBtn">Submit</button>
            <button type="reset" class="panelFormBtn">Reset</button>
            
        </form>
        
       
    
    <%-include('footer')-%>