<%-include('header')-%>




        <form action="/regAdmin" method="POST" class="regForm">
                <h1 class="regFormTitle">Admin Register</h1>
            <input class="regFormInput   " placeholder="First Name" required name="fname" >
            <input class="regFormInput  " placeholder="Last name" required name="lname">
            <input class="regFormInput  " placeholder="ID Number " required name="idNum">
            <input class="regFormInput  " placeholder="E-mail Address" required name="email">
            <input class="regFormInput  " placeholder="Contact Number" required name="contact">
            <input class="regFormInput  " placeholder="Create Password" required name="pwd">
            
            <p class="regFormMsg"><%= validate%></p>
            <div class="regFormBtnDiv">

                    <button class="regFormBtn" type="submit">Submit</button>
                    <button class="regFormBtn "><a class="l1" href="/adminlogin">Already Registered! Login</a></button>
            </div>
    </form>



    <%-include('footer')-%>