<%-include('header')-%>




        <form action="/regAdmin" method="POST" class="regForm container col-sm-4">
                <h1 class=" ma3 b white">Admin Register</h1>
            <input class="form-control ma1  " placeholder="First Name" required name="fname" >
            <input class="form-control ma1 " placeholder="Last name" required name="lname">
            <input class="form-control ma1 " placeholder="ID Number " required name="idNum">
            <input class="form-control ma1 " placeholder="E-mail Address" required name="email">
            <input class="form-control ma1 " placeholder="Contact Number" required name="contact">
            <input class="form-control ma1 " placeholder="Create Password" required name="pwd" type="password">
            
            <p class="regFormMsg"><%= validate%></p>
            <div class="tc ">

                    <button class="btn-dark pa2 br3 bg-dark white" type="submit">Submit</button>
                    <a class="white btn-link" href="/adminlogin"><button class="btn-dark pa2 br3 bg-dark " type="button">Already Registered! Login</button></a>
            </div>
    </form>



    <%-include('footer')-%>