<%-include('header')-%>



        <form class="container" action="/notify" method="POST">
            <h1 class="ma3 b white">Hello Admin</h1>
            <input placeholder="Enter Your Name" type="text" class="form-control ma1 w-40   " name="name" required>
            <input placeholder="What's the Update About? " type="text" class="form-control ma1 w-40   " name="title" required>
            <textarea placeholder="Describe the Update" rows="6" class="form-control ma1 w-40   " name="desc" required></textarea>
            
            <button type="submit" class="btn-dark pa2 br3 bg-dark white">Submit</button>
            <button type="reset" class="btn-dark pa2 br3 bg-dark white">Reset</button>
            
        </form>
        
       
    
    <%-include('footer')-%>