<%-include('header')-%>



       

<form action="/alogin" method="POST" class=" regForm">
    <h1 class="regFormTitle">Admin Login</h1>
    <input class="regFormInput " placeholder="ID Number " type="Number" name="idNum" required  >
    <input class="regFormInput " placeholder="Password" name="pass"required  type="text" >
    <br>
    <div class="regFormBtnDiv">

        <button class=" regFormBtn" id="45" type="submit">Login</button>
        <button class=" regFormBtn "><a class="l1" href="/radmin"> Not Registered! Signup</a></button>
    </div>
</form>


<%-include('footer')-%>