<!DOCTYPE html>

<html>
    <head>
        
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="tachyons.min.css">
        <link rel="stylesheet" href="home.css">
        
    </head>
    <body bgcolor="lightgreen">
        
       

        <header class="header">
            <div class="headTitleDiv">
                <h1 class="headTitle"><a class="l1 " href="/">Notification System</a></h1>
               
            </div>
            <div class="headBtnDiv">
                <button class="headBtn"><a  class="l1" href="/">Register</a></button>
                <button class="headBtn"><a  class="l1" href="/login">Login</a></button>
            </div>
        </header>

        </body>