<!DOCTYPE html>

<html>
    <head>
        
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="tachyons.min.css">
        <link rel="stylesheet" href="project.css">
        <link rel="stylesheet" href="bootstrap-icons.css">
    </head>
    <body >
        
       

        <header class=" flex shadow-3 row bg-green">
            <div class="col flex">
                <h1 class="ml3 white ff"><a class="l1 " href="/">Welcome to Notification System</a></h1>
                <p class="ml3 white bg-black br4 pa2 mb <%= prop%> ff "> Logged In- Government Polytechnic Rampur</p>
            </div>
            <div class="col-xl  mu mb ml">
                <button class="fr btn1 white b pa3 ml3 mr3 f4 bn ff"><a  class="l1" href="/">Register</a></button>
                <button class="fr btn1 white b pa3 ml3 mr3 f4 bn ff"><a  class="l1" href="/login">Login</a></button>
            </div>
        </header>