
   <%-include('header')-%>

   <div class="row center bg-primary" id="homeDiv" >

       <div class=" container mauto  center tc " id="343" >
           
        <a class=" white" href="/radmin"><button class="btn-danger pa3 f3 br3 white ma2 "><i class="fa fa-user mr2"></i>Admin Register</button></a>
        <a class=" white" href="/rstudent"> <button class="btn-danger pa3 f3 br3 white ma2" ><i class="fa fa-user mr2"></i>Student Register</button></a>
           
           
   </div>
   </div>
 


    <%-include('footer')-%>