
   <%-include('header')-%>

        <div class="homeBtnDiv" id="343">
            
            <button class="homeBtn "><a class="l1" href="/radmin">Admin Register</a></button>
            <button class="homeBtn" ><a class="l1" href="/rstudent">Student Register</a></button>
            
            
    </div>
 


    <%-include('footer')-%>