<%-include('header')-%>


        
<div class="row center bg-primary" id="homeDiv">

    <div class=" container mauto  center tc " id="343">
        
     <a class=" white" href="/adminlogin"><button class="btn-success pa3 f3 br3 white ma2 "><i class="fa fa-user mr2"></i>Admin Login</button></a>
     <a class=" white" href="/studentlogin"> <button class="btn-success pa3 f3 br3 white ma2" ><i class="fa fa-user mr2"></i>Student Login</button></a>
        
        
</div>
</div>


<%-include('footer')-%>