<%-include('header')-%>


        
<div class="homeBtnDiv" id="343">
    <button class=" homeBtn"><a class="l1" href="/adminlogin">Admin Login</a></button>
    <button class=" homeBtn" ><a class="l1" href="/studentlogin">Student Login</a></button>
    
        
</div>


<%-include('footer')-%>