<%-include('header')-%>

<h1 class="white tc ff ">Hello Student</h1>
        <div class="we black pa3 br4 bn w-60 mr ml mb3">
            <h1 class="ff f3">Demo News </h1>
                <button class="f4 br-pill bn bg-blue fr mr3 pa1"><i class="bi-plus f4 br-pill bg-white"></i></button>
                <p class="tl mr2 ml2 ff ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum sint, aspernatur ipsam eligendi fuga laborum quaerat alias quisquam recusandae reprehenderit modi nisi quam sit similique. Corporis molestiae voluptatum recusandae error.</p>
                <hr class="o-70"><div class="flex"><p class="ff ">-Demo Name</p>
                    <p class="ff ml ">Department of Demo</p></div>
                </div>
                <div class="we black pa3 br4 bn w-60 mr ml mb3">
                    <h1 class="ff f3">Demo News </h1>
                    <button class="f4 br-pill bn bg-blue fr mr3 pa1"><i class="bi-plus f4 br-pill bg-white"></i></button>
                    <p class="tl mr2 ml2 ff ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum sint, aspernatur ipsam eligendi fuga laborum quaerat alias quisquam recusandae reprehenderit modi nisi quam sit similique. Corporis molestiae voluptatum recusandae error.</p>
                <hr class="o-70"><div class="flex"><p class="ff ">-Demo Name</p>
                <p class="ff ml ">Department of Demo</p></div>
            </div>
            
      
    
    
    <%-include('footer')-%>