<%-include('header')-%>



        <form class="regForm" id="34" action="/regstudent" method="POST">
            <h1 class="regFormTitle">Student Register</h1>
            <input class="regFormInput " required placeholder="First Name" name="fname">
            <input class="regFormInput " required placeholder="Last name" name="lname">
            <input class="regFormInput " required placeholder="Enrollment Number " name="enNum" type="number">
            <input class="regFormInput " required placeholder="E-mail Address" name="email">
            <input class="regFormInput " required placeholder="Contact Number" name="contact">
            <input class="regFormInput " required placeholder="Create Password" name="pwd">
            
            <p class="regFormMsg "><%= validate%></p>
            <div class="regFormBtnDiv">

                <button class=" regFormBtn" type="submit">Submit</button>
    
                <button class=" regFormBtn " id="77 " ><a class="l1" href="/studentlogin">Already Registered! Login</a></button>
            </div>
        </form>
        
        
        
        
<%-include('footer')-%>