<%-include('header')-%>




<form action="/slogin" method="POST" class=" regForm container col-sm-4">
    <h1 class="ma3 b white">Student Login</h1>
    <input type="number" class="form-control ma1  " placeholder="Enrollment Number " id="" name="ennum" required>
    <input type="string" class="form-control ma1  " placeholder="Password" name="pass" required type="password">
    <br>
    <div class="regFormBtnDiv">

        <button class=" btn-dark pa2 br3 bg-dark white" id="45" type="submit">Login</button>
        <a class="white btn-link" href="/rstudent"><button class=" btn-dark pa2 br3 bg-dark white" type="button"> Not Registered! Signup</button></a>
    </div>
</form>

<%-include('footer')-%>